@import '../../global.css';

.container-projects {
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  font-family: var(--font-REM);
}

.content-projects {
  text-align: center;
}

.select-project-type {
  display: flex;
  justify-content: center;
  margin: 30px 0 20px 0;
  gap: 20px;
}

.select-project-type h3 {
  font-weight: normal;
  font-family: var(--font-Poppins);
  font-size: 1rem;
}

#filterTypeProject {
  border: none;
  background-color: transparent;
  color: #fff;
  font-family: var(--font-REM);
  font-size: 1rem;
  text-align: center;
}

#filterTypeProject option {
  background-color: var(--color-black);
  font-size: 1rem;
}

.projects-slide {
  display: flex;
  align-items: center;
  overflow: hidden;
  max-width: 1040px;
}

.inner {
  display: flex;
  gap: 30px;
}

.project {
  width: 100%;
  display: flex;
  margin: 30px auto;
  gap: 20px;
  border: 2px solid var(--color-purple);
  border-radius: 10px;
  background-color: #000;
  transition: 0.3s;
}

.project:hover {
  border: 2px solid var(--color-purple2);
}

.project > img {
  width: 500px;
  height: 95%;
  margin: auto auto auto 7px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.project-text {
  width: 500px;
  line-height: 25px;
  padding-top: 30px;
  padding-right: 30px;
}

.project-text::before {
  background-color: var(--color-purple);
  width: 2px;
  height: 10px;
}

.project-text > h3 {
  font-size: 2rem;
  margin-bottom: 30px;
  text-align: left;
  line-height: 40px;
}

.project-text > p {
  text-align: justify;
}

.description {
  margin-bottom: 20px;
}

.p-project {
  font-family: var(--font-Poppins);
  font-weight: 300;
  font-size: 14px;
  margin-bottom: 10px;
}

.p-project > a {
  text-decoration: none;
  color: var(--color-purple);
}

.next-previous {
  position: absolute;
  width: 1100px;
  display: flex;
  justify-content: space-between;
  margin-top: 100px;
}

.fa-solid {
  cursor: pointer;
}

.previous-page {
  bottom: 50px;
}
