@import '../../global.css';

.navbar {
  font-family: var(--font-Poppins);
  background-color: var(--color-black);
  height: 100px;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 3px 15px #000;
  padding: 0 50px;
}

.a_logo {
  width: 100px;
}

.logo {
  width: 100%;
  height: 90px;
  cursor: pointer;
}

.nav_list {
  display: flex;
  gap: 30px;
  list-style: none;
  font-weight: 500;
}

.link {
  text-decoration: none;
  color: var(--color-white);
  transition: 0.3s;
}

.link:hover {
  color: var(--color-purple);
}

.link.active {
  padding-bottom: 10px;
  border-bottom: 3px solid var(--color-purple);
}

.fa_bars {
  font-size: 25px;
  color: var(--color-white);
  display: none;
}

/* MEDIA QUERY */

@media (min-width: 1441px) {
  .navbar {
    height: 200px;
    padding: 0 100px;
  }

  .a_logo {
    width: 200px;
    height: 180px;
  }

  .logo {
    width: 100%;
    height: 100%;
  }

  .nav_list {
    font-size: 1.8rem;
  }
}

@media (max-width: 768px) {
  .logo {
    height: 80px;
  }
  .nav_list {
    flex-direction: column;
    width: 100%;
    padding: 50px 0;
    align-items: center;
    transition: 0.3s;
    position: absolute;
    top: 32%;
    left: 0;
    transform: translateY(-50%);
  }

  .fa_bars {
    display: block;
  }
}

@media (max-width: 620px) {
  .navbar {
    padding: 0 20px;
  }

  .a_logo {
    width: 70px;
  }

  .logo {
    height: 60px;
  }
  .nav_list {
    position: absolute;
    top: 20%;
    left: 0;
    margin-top: 20%;
  }
}

@media (max-width: 380px) {
  .nav_list {
    top: 25%;
  }
}
