@import '../../global.css';

.container_about {
  color: var(--color-white);
}

.container_about > h2 {
  text-align: center;
  font-family: var(--font-REM);
  font-weight: bold;
  margin-top: 50px;
}

.content_about {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 50px;
  padding-right: 50px;
  margin-top: 20px;
  gap: 100px;
}

.text > p {
  text-align: justify;
  margin-top: 20px;
  font-family: var(--font-Poppins);
  font-size: 15px;
}

.img_about {
  width: 30%;
  height: 100%;
}

.text > p > a {
  text-decoration: none;
  color: var(--color-purple);
}
