@import '../../global.css';

.container_contact {
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  font-family: var(--font-REM);
}

.container_contact > h2 {
  font-size: 2rem;
  font-weight: bold;
}

.first_content_contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 40px;
}

.content_contact {
  display: flex;
  gap: 100px;
  margin-top: 50px;
  line-height: 30px;
}

.content_contact h3 {
  font-size: 1.4rem;
  text-align: center;
  color: var(--color-white);
  background-color: rgb(37, 37, 37);
}

.social_medias,
.email,
.phone {
  background-color: rgb(37, 37, 37);
  border-radius: 10px;
  padding: 20px 50px;
  min-height: 150px;
}

.social_medias_icons {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
  font-size: 1.8rem;
  background-color: transparent;
}

.social_medias_icons a {
  color: #fff;
  background-color: rgb(37, 37, 37);
}

.social_medias_icons i {
  border: 2px solid var(--color-purple2);
  border-radius: 8px;
  padding: 10px;
  cursor: pointer;
  transition: 0.2s;
  background-color: var(--color-purple2);
}

.social_medias_icons i:hover {
  background-color: var(--color-purple2);
  transform: scale(1.1);
}

.email,
.phone {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.email div,
.phone div {
  display: flex;
  gap: 10px;
  align-items: center;
  transition: 0.3s;
  cursor: pointer;
  font-size: 1.2rem;
}

.email div:hover,
.phone div:hover {
  color: var(--color-purple);
}

.email > div,
.phone > div {
  background-color: rgb(37, 37, 37);
}

.email div a,
.phone div a {
  text-decoration: none;
  color: #fff;
  transition: 0.3s;
  background-color: rgb(37, 37, 37);
}

.email div a:hover,
.phone div a:hover {
  color: var(--color-purple);
}

/* ESTILIZAÇÃO DO FORMULÁRIO */

.second_content_contact {
  font-family: var(--font-Poppins);
}

.form_title {
  text-align: center;
  margin-bottom: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form_title > span {
  display: inline-block;
  width: 4px;
  height: 10px;
  margin-right: 10px;
  background: var(--color-purple2);
}

.input {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
  width: 350px;
}

.input label {
  margin-bottom: 10px;
}

.input input {
  background-color: rgb(37, 37, 37);
  border: none;
  border-radius: 8px;
  padding: 20px 30px;
  color: #fff;
}

.input input::placeholder,
.message::placeholder {
  font-family: var(--font-Poppins);
}

.input input:focus,
.message:focus {
  outline: 2px solid var(--color-purple);
  background-color: var(--color-shadow);
  color: #fff;
}

.message {
  border-radius: 5px;
  background-color: rgb(37, 37, 37);
  border: none;
  padding: 5px 10px;
  color: #fff;
}

.send_btn {
  border: none;
  background-color: var(--color-purple2);
  color: #fff;
  font-family: var(--font-Poppins);
  font-size: 14px;
  width: 100%;
  border-radius: 8px;
  padding: 10px 30px;
  cursor: pointer;
  transition: 0.3s;
  letter-spacing: 2px;
}

.send_btn:hover {
  background-color: #59139b;
}

.previous_page_contact {
  padding-bottom: 20px;
}

/* MEDIA QUERY */

@media (min-width: 1920px) {
  .container_contact > h2 {
    font-size: 3.5rem;
  }

  .content_contact h3 {
    font-size: 2.5rem;
  }

  .content_contact {
    gap: 300px;
    margin-top: 100px;
  }

  .first_content_contact {
    gap: 50px;
  }

  .social_medias,
  .email,
  .phone {
    padding: 40px 100px;
    min-height: 200px;
  }

  .social_medias_icons {
    margin-top: 50px;
    font-size: 3.5rem;
    gap: 30px;
  }

  .social_medias_icons i {
    padding: 20px;
  }

  .email,
  .phone {
    gap: 50px;
  }

  .fa_icon {
    font-size: 2rem;
  }

  .link_contact {
    font-size: 2rem;
  }

  .second_content_contact {
    font-size: 1.8rem;
  }

  .form_title {
    margin-bottom: 50px;
  }

  .input {
    width: 600px;
    margin-top: 50px;
  }

  .input > label {
    font-size: 1.6rem;
    margin-bottom: 20px;
  }

  .input > input {
    font-size: 1.6rem;
    padding: 40px;
  }

  .input > textarea {
    padding: 20px;
  }

  .send_btn {
    padding: 30px;
    margin-top: 20px;
    font-size: 1.5rem;
  }

  .previous_page_contact {
    font-size: 1.5rem;
  }
}

@media (max-width: 1024px) {
  .previous_page_contact {
    padding-bottom: 20px;
  }
}

@media (max-width: 768px) {
  .content_contact {
    display: flex;
    flex-direction: column;
  }

  .second_content_contact {
    width: 100%;
    max-width: 700px;
    margin-bottom: 100px;
  }

  .input {
    width: 100%;
  }

  .send_btn {
    margin-top: 20px;
  }
}

@media (max-width: 425px) {
  .container_contact > h2 {
    font-size: 1.5rem;
  }

  .content_contact h3 {
    font-size: 1.4rem;
  }

  .social_medias_icons {
    font-size: 1.2rem;
  }

  .link_contact {
    font-size: 1rem;
  }
}

@media (max-width: 268px) {
  .content_contact h3 {
    font-size: 1.2rem;
  }

  .link_contact {
    font-size: 0.9rem;
  }

  .input {
    font-size: 0.8rem;
    width: 100%;
    max-width: 300px;
  }
}

@media (max-width: 320px) {
  .social_medias,
  .email,
  .phone {
    width: 100%;
    max-width: 300px;
  }
}
