@import '../../global.css';

.next_page {
  text-decoration: none;
  color: var(--color-white);
  font-size: 13px;
  font-family: var(--font-Poppins);
  transition: 0.3s;
  text-align: right;
  position: absolute;
  bottom: 50px;
  right: 50px;
  background-color: transparent;
}

.next_page:hover {
  color: var(--color-purple);
  text-decoration: underline;
}

/* MEDIA QUERY */
@media (min-width: 1441px) {
  .next_page {
    font-size: 1.8rem;
  }
}

@media (max-width: 768px) {
  .next_page {
    bottom: 20px;
  }
}

@media (max-width: 620px) {
  .next_page {
    right: 38%;
    bottom: 50px;
  }
}

@media (max-width: 380px) {
  .next_page {
    right: 37%;
  }
}

@media (max-width: 320px) {
  .next_page {
    right: 35%;
  }
}
