.previous_page {
  text-decoration: none;
  position: absolute;
  bottom: -80px;
  color: lightgray;
  font-size: 13px;
  font-family: var(--font-Poppins);
  transition: 0.3s;
  left: 50px;
  background-color: transparent;
}

.previous_page:hover {
  color: var(--color-purple);
  text-decoration: underline;
}

/* MEDIA QUERY */

@media (min-width: 1920px) {
  .previous_page {
    font-size: 1.5rem;
  }
}

@media (max-width: 768px) {
  .previous_page {
    bottom: 20px;
    font-size: 12px;
  }
}

@media (max-width: 620px) {
  .previous_page {
    left: 38%;
    bottom: 10px;
  }
}

@media (max-width: 380px) {
  .previous_page {
    left: 36%;
  }
}

@media (max-width: 320px) {
  .previous_page {
    left: 34%;
  }
}
