.previous-page{
    text-decoration: none;
    position: fixed;
    bottom: 100px;
    color: lightgray;
    font-size: 13px;
    font-family: var(--font-Poppins);
    transition: .3s;
    left: 50px;
}

.previous-page:hover{
    color: var(--color-purple);
    text-decoration: underline;
}